<ion-view view-title="Leaderboard">
  <ion-content>

    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="//chartholdr.io/bar/80/c=ccc">
      <h2>Noah</h2>
      <p><b>12 days</b></p>
      <p>I have the best score.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="//chartholdr.io/bar/80/c=ccc">
      <h2>Paul</h2>
      <p><b>8 days</b></p>
      <p>I'm good.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="//chartholdr.io/bar/80/c=ccc">
      <h2>KP</h2>
      <p><b>1 days</b></p>
      <p>Yo, I'm KP.</p>
    </a>


</div>
  </ion-content>
</ion-view>
