<ion-view view-title="Chicken Chase">
<ion-content class="padding">

<!-- Heading information -->
<div class="heading-info">
  <p><b>16</b> friends are being chased.</b>
  </div>

  <div class="row">

  </div>

  <div>
   Total Ms: {{t.totalMilliseconds}}<br>
   Counts: {{t.counts}}
 </div>

 <section id="timeline">
  <div class="card">
    <div class="item item-text-wrap">
      <h2>You are being chased by a chicken!</h2>
      <br>
      <input type="text" id="example" name="example_name" value="" />
    </div>
  </div>

  <div ng-show="!loggedIn">
    <p>You are not logged in!</p>
    <button class="button button-block button-calm" ui-sref="tab.login">
      Login
    </button>
  </div>

</section>

</ion-content>
</ion-view>