<ion-view view-title="Chicken Chase">
<ion-content class="padding">

<!-- Heading information -->
<div class="heading-info">
  <p><b>16</b> friends are being chased.</b>
</div>

<div class="row">

</div>

<div>
   Total Ms: {{t.totalMilliseconds}}<br>
   Counts: {{t.counts}}
</div>


<section id="death-messages">
  <div class="card">
  <div class="item item-text-wrap">
    <h2>You are being chased by a chicken!</h2>
    <br>
    <input type="text" id="example" name="example_name" value="" />
  </div>
</div>

</section>

</ion-content>
</ion-view>