<ion-view view-title="Death Follows">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Status</div>
      <div class="item item-body">
        <div>
          Death is <b>12 hours 16 minutes 8 seconds</b> away.</div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Alert</div>
      <div class="item item-body">
        <div>
          You were 8.12 minutes from death yesterday!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>