<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="icon ion-android-home" icon-on="icon ion-android-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
<!--   <ion-tab title="Map" icon-off="icon ion-android-map" icon-on="icon ion-android-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab> -->

  <!-- Live Tab -->
  <ion-tab title="Live" icon-off="icon ion-ios-pulse" icon-on="icon ion-ios-pulse-strong" href="#/tab/live">
    <ion-nav-view name="tab-live"></ion-nav-view>
  </ion-tab>

  <!-- Leaderboard Tab -->
  <ion-tab title="Leaderboard" icon-off="icon ion-trophy" icon-on="icon ion-trophy" href="#/tab/leaderboard">
    <ion-nav-view name="tab-leaderboard"></ion-nav-view>
  </ion-tab>

  <!-- Leaderboard Tab -->
  <ion-tab title="Login" icon-off="icon ion-person" icon-on="icon ion-person" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

</ion-tabs>
